
.header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 12.1rem;
    place-items: center;
    background-color: #febdbd;
    border-bottom: 2px solid black;
    
}
.logo{
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
 
}
.title{
    grid-area: 1/2/2/3;
    margin-right: 10rem;
    font-size: 3.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(218, 248, 248);
}
.content{
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 80vh;
    background-color: lightblue;
}
.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr;
    border-right: 1px solid black;
}
.projectsTitle{
    grid-area: 1/1/2/2;
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: lightblue;
    width: 100%;
    color:rgb(92, 125, 188);
    font-size: 2rem;
    
}
.projectsFolder{
    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.projectForm{
    grid-area: 2/1/3/2;
    height: 3rem;
    margin: 10px;
    padding: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.addProjectBtn{
    height: 1.3rem;
    width: 1.3rem;
    margin: 10px;
}
.project{
    margin: 10px;
    height: 4rem;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.main{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    background-color: rgb(206, 237, 248);
}
.todoContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}
.addTodoForm{
    margin: 10px;
    grid-area: 1/1/2/2;
}
.addTodoBtn {
    width: 1.3rem;
    height: 1,3rem;
    margin: 10px;

}
.todo{
    width: 100%;
    height: 5rem;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    place-items: center;
}
.footer{
    height: 10vh;
    width: 100%;
    background-color: lightcyan;
    border-top: 1px solid black;
}
.active{
    border: 5px solid rgb(123, 205, 123);
}